body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style-type: none;
}

.logo {
font-family: Raleway, sans-serif;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:  #4d5ae5;
}

.nav-link {
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;  
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-link:hover,
.address-link:focus {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #404bbf;
}

.hero {
background-color: #2E2F42; 
}

.hero-title { 
font-size: 56px;
letter-spacing: 0.02em;
line-height: 1.07;
text-align: center;
color: #fff;
}

button {
color:  #4d5ae5;
text-align: center;
}

.hero-button {
font-weight: 500;
cursor: pointer;
background-color: #404BBF;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:  #fff;
}

.hero-button-link:focus {
font-size: 16px;
background-color: #404BBF;
letter-spacing: 0.04em;
line-height: 1.5;
color: #fff;
}


.benefits-subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}


.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sellers-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}


reviews-subtitle {
font-size: 20px;
letter-spacing: 0.02em;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}


reviews-subtitle :hover {
font-size: 20px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}

.reviews-item-text {
background-color: #FFFFFF;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.reviews-item-text :hover {
font-size: 16px; 
letter-spacing: 0.02em;
line-height: 1.5;
text-align: center;
color: #434455;

.sellers-title{
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
}

.reviews-subtitle {
font-size: 20px;
letter-spacing: 0.02em;
line-height: 1.2;
text-transform: capitalize;
color: #2e2f42;
}


.reviews-subtitle :hover{
font-size: 20px;
letter-spacing: 0.02em;
line-height: 1.2;
text-transform: capitalize;
color: #2e2f42;
}

.reviews-item-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.reviews-item-text :hover {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.logo {
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}

footer{
background-color: #2e2f42;
}

.gap footer logo-part {
font-size: 16px; 
color: #f4f4fd;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.footer-text {
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

